includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8

    paths:
        - app
        - routes
        - tests

    excludePaths:
        - storage/*
        - bootstrap/cache/*